<style>
.home-info {
    margin-bottom: 12px;
}

.home-info .profile_inner h1 {
    padding: 12px 0;
}

.home-info img {
    display: inline-table;
    border-radius: 8px;
}
</style>

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">        
        {{ .Content | markdownify }}
    </div>
    {{- if .imageUrl }}
        <div class="profile_inner">
            <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        </div>
    {{- end }}
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
